@mixin Grille($nbCol, $lGut) {

	$nbGut: $nbCol + 1;
	$lCol: (100% - ($lGut * $nbGut)) / $nbCol ;

	div{
		display: flex;
		flex-flow: row wrap;

		div{
			margin-left: $lGut;
			box-sizing: border-box;
			padding: 10px;

			@include Cellule($nbCol, $lGut, 0, 4) ;
		}
	}

}

@mixin Cellule($nbCol, $lGut, $offset, $lCel) {
	
	$nbGut: $nbCol + 1;
	$lCol: (100% - ($lGut * $nbGut)) / $nbCol ;

	width: $lCel * $lCol + ($lCel - 1) * $lGut; 
	margin-left: $offset * $lCol + ($offset + 1) * $lGut ;

}
