/*body
{
	@include Grille($largeurGrille, $largeurGouttiere) ;
}
*/
header ul {
  display: flex;
}
header ul li {
  list-style-type: none;
}
header ul li img {
  width: 50%;
}

section {
  display: flex;
  flex-flow: row wrap;
}

/*# sourceMappingURL=style.css.map */
