@import 'maGrille';

$largeurGrille: 12;
$largeurGouttiere: 1.6%;

/*body
{
	@include Grille($largeurGrille, $largeurGouttiere) ;
}
*/

header{

	ul{
		display:flex;
		li{
			list-style-type: none;
			img{
				width:50%;

			}
		}

	}
}

section{
	display: flex;
	flex-flow: direction;
}
